### 0

Вычислить значение выражения

![formula1](https://render.githubusercontent.com/render/math?math=a%20%3D%20%7B%7By%20-%20x%5E2%7D%20%5Cover%20%7Bx%20-%20%7By%7D%20%5Cover%20%7Bb%20%2B%20x%5E2%7D%7D%7D&mode=display)

In [1]:
def calculate(b, x, y)
  b, x, y = b.to_f, x.to_f, y.to_f
  (y - x**2) / ((x - y) / (b + x**2))
end

:calculate

Вычислить значение выражения

![formula2](https://render.githubusercontent.com/render/math?math=%7Ctg%7B%7Bx%5E2%20%5Ccdot%20%28x%20-%202%29%7D%20%5Cover%20%7Be%5Ex%7D%7D%7C&mode=display)

In [2]:
include Math

def calculate_with_math(x)
  x = x.to_f
  Math.tan(x**2 * (x - 2) / Math.exp(x)).abs
end

:calculate_with_math

### 1

Написать функцию, которая принимает на вход строку и возвращает ее палиндром (переворачивает строку). Пример работы:

```ruby
get_palindrome '123' # '321'
```

In [3]:
def get_palindrome str
  str.reverse
end

:get_palindrome

In [4]:
get_palindrome '123'

"321"

### 2

Написать функцию, которая принимает на вход строку и проверяет, является ли она палиндромом. Пример работы:

```ruby
palindrome? '123' # false
palindrome? '111' # true
```

In [5]:
def palindrome? str
  str == str.reverse
end

:palindrome?

In [6]:
palindrome? '123'

false

In [7]:
palindrome? '111'

true

### 3

Написать функцию, которая принимает на вход массив и меняет в нем местами наибольший и наименьший элементы. Если в массиве больше одного наибольшего/наименьшего элемента, поменять местами только первую (по счету, т.е. с наименьшими индексами) пару. Пример работы:

```ruby
swap [1, 2, 3, 2] # [3, 2, 1, 2]
swap [1, 2, 1, 2, 5, 10, 10] # [10, 2, 1, 2, 5, 1, 10]
```

In [8]:
def swap ary
  first_min_idx = ary.index ary.min
  first_max_idx = ary.index ary.max
  
  ary[first_min_idx], ary[first_max_idx] = ary[first_max_idx], ary[first_min_idx]
  
  ary
end

:swap

In [9]:
swap [1, 2, 3, 2]

[3, 2, 1, 2]

In [10]:
swap [1, 2, 1, 2, 5, 10, 10]

[10, 2, 1, 2, 5, 1, 10]

### 4

Написать функцию, которая принимает на вход массив и считает сумму квадратов его элементов. Пример работы:

```ruby
square_ary [1, 2, 3] # [1, 4, 9]
```

In [11]:
def square_ary ary
  ary.map { |x| x**2 }
end

:square_ary

In [12]:
square_ary [1, 2, 3]

[1, 4, 9]

### 5

Написать функцию, которая принимает на вход число в десятичной системе счисления. Внутри себя она переводит это число в двоичную систему счисления, записывает его наоборот и возвращает получившееся число в десятичной системе счисления. Пример работы:

```ruby
binary_reverse 6 # 3, т.к. 6 (110) => 3 (011)
binary_reverse 10 # 5, т.к. 10 (1010) => 5 (0101)
```

In [13]:
def binary_reverse number
  number.to_s(2).reverse.to_i(2)
end

:binary_reverse

In [14]:
binary_reverse 6

3

In [15]:
binary_reverse 10

5

### 6

Написать функцию, которая принимает на вход строку и переставляет в ней слова в порядке убывания их длины.

```ruby
change_order 'Зато все ок' # 'ок все Зато'
```

In [24]:
def change_order str
  str.split.sort{ |x, y| x.length <=> y.length }.join ' '
end

:change_order

In [25]:
change_order 'Зато все ок'

"ок все Зато"